####################################################
### Paquetes necesarios para entorno python y vscode
##
wheel
pylint


#########################################
### Paquetes correspondientes al proyecto
##
unidecode
